name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '15'
          check-latest: true
      - run: npm ci
      - run: npm run test
      - run: npm publish
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
